@import '../../variables'
.limit-weight
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: 100%

.inquiry
  align-items: center
  background-color: $fillicon
  border: 1px none
  display: flex
  flex-direction: column
  gap: 32px
  height: 1184px
  overflow: hidden
  position: relative
  width: 1280px

.main-3
  align-items: flex-start
  display: flex
  gap: 23px
  margin-right: 1.0px
  position: relative
  width: 100%

.main_container-3
  align-items: flex-start
  display: flex
  flex-direction: column
  gap: 24px
  position: relative
  width: 100%

.main-content-3
  align-items: center
  display: flex
  flex-direction: column
  gap: 24px
  position: relative
  width: fit-content

.content
  align-items: center
  display: flex
  flex-direction: column
  gap: 8px
  position: relative
  width: fit-content


.btn-item_container-1

  display: flex
  gap: 16px
  justify-content: flex-end
  position: relative
  width: fit-content

.inquiry_container
  align-items: flex-start
  display: flex
  flex-direction: column
  gap: 8px
  position: relative
  width: fit-content

.inquiry-item
  min-width:100%

.inquiry-menu_container-1
  background-color: $vrxysi
  height: 41px
  min-width: 100%
  position: relative

.flex-row-2
  align-items: flex-start
  display: flex
  left: 90px
  min-width: 737px
  position: relative
  top: 8px

.text-85
  height: 24px
  letter-spacing: 0
  line-height: 24px
  text-align: center
  white-space: nowrap
  width: 66px

.text-81
  height: 24px
  letter-spacing: 0
  line-height: 24px
  margin-left: 49px
  text-align: center
  white-space: nowrap
  width: 66px

.text-8-1
  height: 24px
  letter-spacing: 0
  line-height: 24px
  margin-left: 47px
  text-align: center
  white-space: nowrap
  width: 66px

.cas
  height: 24px
  letter-spacing: 0
  line-height: 24px
  margin-left: 41px
  text-align: center
  white-space: nowrap
  width: 66px

.text-83
  height: 24px
  letter-spacing: 0
  line-height: 24px
  margin-left: 51px
  text-align: center
  white-space: nowrap
  width: 66px

.text-84
  height: 24px
  letter-spacing: 0
  line-height: 24px
  margin-left: 40px
  text-align: center
  white-space: nowrap
  width: 66px

.inquiry-1
  align-items: flex-start
  background-color: $fillicon
  border-radius: 10px
  box-shadow: 0px 2px 3px 1px #00000026
  display: flex
  flex-direction: column
  gap: 10px
  overflow: hidden
  padding: 8px 6px
  position: relative
  width: fit-content

.frame-full 
    align-items: flex-start
    gap: 8px
    width: 100%
    display: flex
    position: relative

.position-re 
    height: 45px
    position: relative


.top_sub-nav 
    justify-content: center
   
    width: 100%
    display: flex
    position: relative

.position-ab-two 
    position: absolute
    top: 0
    right: 0

.sub-title
    background-color: #d8d8d8
    min-width: 100%
    padding: 6px 0
    width: 100%
  

.sub-title .icon_regular-94
  top: -3px

.status-approved
  color: #5599B5

.status-not-approved
  color: #9B2634

.status-pending-rnd-quote
  color: #444

.clickable 
  cursor: pointer
  text-decoration: underline
  color: blue

.delete-img
    cursor: pointer
    background-color: #fff
    border-radius: 4px
    justify-content: center
    align-items: center
    gap: 4px
    width: -moz-fit-content
    width: fit-content
    padding: 9px 8px
    display: flex
    position: relative

.delete-img .text
    letter-spacing: 0
    white-space: nowrap
    width: -moz-fit-content
    width: fit-content
    margin-top: -1px
    line-height: 24px
    position: relative


.more-img
    cursor: pointer
    background-color: #fff
    border-radius: 4px
    justify-content: center
    align-items: center
    gap: 4px
    width: -moz-fit-content
    width: fit-content
    padding: 9px 8px
    display: flex
    position: relative

.delete-img img
    min-width: 24px
    height: 24px



.more-img img
  min-width: 24px
    height: 24px

.inquiry-item
  background-color: $fillicon
  border-bottom-style: solid
  border-bottom-width: 1px
  border-color: $owaos1
  height: 48px
  min-width: 874px
  position: relative

.flex-row-3
  align-items: center
  display: flex
  gap: 26px
  height: 28px
  left: 16px
  min-width: 820px
  position: relative
  top: 10px

.text-box-1
  align-items: center
  display: flex
  gap: 24px
  justify-content: center
  padding: 2px
  position: relative
  width: 85px

.status
  flex: 1
  letter-spacing: 0
  line-height: 24px
  margin-top: -1.00px
  position: relative
  text-align: center
  white-space: nowrap

ul.each-one 
    align-items: center
    justify-content: center
    margin-bottom: 0
    display: flex
    margin: 0
    padding: 0

ul.each-one li
  color: #444
  display: block
  position: relative
  float: left
  width:100%
  letter-spacing: 0
 

ul.each-one li input[type=radio]
  display: none
  position: absolute
  visibility: hidden

ul.each-one li label
  display: block
  position: relative
  width: 136px
  padding:0 5px 0 34px
  margin: 0 auto
  z-index: 9
  cursor: pointer
  transition: all 0.25s linear
  -webkit-transition: all 0.25s linear

ul.each-one li:hover label
  color: #ccc

ul.each-one li .check
  display: block
  position: absolute
  border: 2px solid #AAAAAA
  border-radius: 100%
  height: 20px
  width: 20px
  top: 4px
  left: 8px
  z-index: 5
  transition: border .25s linear
  -webkit-transition: border .25s linear

ul.each-one li label:hover 
  color:#B02C38

ul.each-one li:hover .check
  border: 2px solid #B02C38

ul.each-one li .check::before
  display: block
  position: absolute
  content: ''
  border-radius: 100%
  height: 10px
  width: 10px
  top: 3px
  left: 3px
  margin: auto
  transition: background 0.25s linear
  -webkit-transition: background 0.25s linear

ul.each-one li input[type=radio]:checked ~ .check
  border: 2px solid  #B02C38

ul.each-one li input[type=radio]:checked ~ .check::before
  background:  #B02C38

ul.each-one li input[type=radio]:checked ~ label
  color:  #B02C38
