.reportContainer {
  width: clamp(880px, 90%, 98vw);
  margin: auto;
}

.gridRow {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
  }

  .gridCol3 {
    grid-column: span 3;
  }
  .gridCol9 {
    grid-column: span 8;
  }