@import '../../variables'

.product-item-1
  align-items: center
  background-color: $fillicon
  border-bottom-style: solid
  border-bottom-width: 1px
  border-color: $owaos1
  display: flex
  height: 110px
  justify-content: space-between
  min-width: 874px
  position: relative

.left_container
  align-items: center
  display: flex
  gap: 16px
  height: 80px
  margin-left: 16px
  position: relative
  width: 401px

.product_content-1
  align-items: center
  display: flex
  gap: 8px
  position: relative
  width: fit-content

.product_image
  background-color: $x3
  border-radius: 4px
  display: flex
  height: 60px
  min-width: 60px
  overflow: hidden
  position: relative

.icon_regular-100
  height: 28px
  margin-left: -4864px
  margin-top: -8545px
  width: 28px

.product-item-1.product-item-2 .icon_regular-100
  margin-top: -8655px

.product-item-1.product-item-3 .icon_regular-100
  margin-top: -8833px

.product-item-1.product-item-4 .icon_regular-100
  margin-top: -8943px

.product-item-1.product-item-5 .icon_regular-100
  margin-top: -9053px

.product-item-1.product-item-6 .icon_regular-100
  margin-top: -9163px

.product-item-1.product-item-7 .icon_regular-100
  margin-top: -9273px

.product-item-1.product-item-8 .icon_regular-100
  margin-top: -9383px

.product-item-1.product-item-9 .icon_regular-100
  margin-top: -9493px

.product-item-1.product-item .icon_regular-100
  margin-top: -9603px

